name: Build

on: 
  push:
    branches:
      - "master"
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'
  workflow_dispatch:

env:
  DOTNET_VERSION: "10.0.x"
  BUILD_CONFIGURATION: Release
  BUILD_PLATFORM: x64

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Get previous build number
      id: getPreviousBuild
      shell: bash
      run: | 
        PREVIOUS_TAG=$(git for-each-ref --sort=-version:refname --count 1 --format="%(refname:short)" "refs/tags/*")
        echo result=${PREVIOUS_TAG} >> $GITHUB_OUTPUT

    - name: Get current build number
      id: getCurrentBuild
      if: success()
      shell: bash
      env:
        PREVIOUS_BUILD: ${{ steps.getPreviousBuild.outputs.result }}
      run: echo result=$((++PREVIOUS_BUILD)) >> $GITHUB_OUTPUT

    - name: Build solution
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: dotnet publish -c ${{env.BUILD_CONFIGURATION}} /p:Platform=${{env.BUILD_PLATFORM}} /p:Version=${{ steps.getCurrentBuild.outputs.result }} -r win-x64 --no-self-contained
      
    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: GraphMailRelay
        path: GraphMailRelay\bin\x64\Release\net10.0\win-x64\publish
    
    - name: Bump version and push tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.2
      if: ${{ success() && github.ref_name == 'master' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        tag_prefix: ''
        custom_tag: ${{ steps.getCurrentBuild.outputs.result }}

    - name: Generate release diff
      if: ${{ success() && github.ref_name == 'master' }}
      shell: bash
      env:
        BEGIN_COMMIT: ${{ steps.getPreviousBuild.outputs.result }}
        END_COMMIT: ${{ steps.getCurrentBuild.outputs.result }}
      run: git fetch --tags --force && git log --pretty=format:"* %s (%h)" ${BEGIN_COMMIT}..${END_COMMIT} > release_notes.md
      
    - name: Zip publish folder
      run: Compress-Archive -Path "GraphMailRelay\bin\x64\Release\net10.0\win-x64\publish\*" -DestinationPath "GraphMailRelay.zip"

    - name: Create release
      uses: ncipollo/release-action@v1
      if: ${{ success() && github.ref_name == 'master' }}
      with:
        artifacts: GraphMailRelay.zip
        allowUpdates: true
        bodyFile: "release_notes.md"
        draft: false
        prerelease: false
        name: Build ${{ steps.getCurrentBuild.outputs.result }} (${{ github.ref_name }})
        tag: ${{ steps.getCurrentBuild.outputs.result }}
        token: ${{ secrets.GITHUB_TOKEN }}